name: Run lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  rubocop:
    name: "Run lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Lint Ruby code with RuboCop
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rubocop
